main {
    display: flex;
    justify-content: center;
    padding-top: 40px;
}

.section--card {
    display: flex;
    max-width: 470px;
    height: 199px;
    overflow: hidden;
    border-bottom: 1px solid #F5F5F5;
}

.section--info {
    padding-left: 20px;
    display: flex;
    flex-flow: column;
    justify-content: center;
    max-height: 168px;
}

.grey {
    color: #918E9B;
    font-size: 12px;
    font-weight: 400;
    padding-left: 10px;
    letter-spacing: 0;
}

.section--card > img {
    width: 125px;
    height: 168px;
    border-radius: 5px;
}


.section--info > h1 {
    font-size: 25px;
    font-weight: 700;
    padding-top: 7px;
}

.section--info > h3 {
    font-size: 12px;
    font-weight: 700;
    padding-top: 16px;
}

.section--info > p {
    font-weight: 400;
    font-size: 10px;
    line-height: 15px;
    color: #2B283A;
    padding-top: 9px;
}

.section--location {
    font-size: 12px;
    letter-spacing: 0.17em;
    font-weight: 400;
} 

.section--location > img {
    height: 10px;
}